<?xml version="1.0" encoding="UTF-8" ?>

<sqlMap namespace="${dto.tblId}">

  <!-- 根据字段删除 -->
  	<sql id="DELETE_BY_FIELDS">
    	<![CDATA[
    	    DELETE FROM ${dto.tblId} WHERE  1=1
#foreach(${field}in${dto.fields})
 				    <\#if ${field.fieldId} ? exists>AND  ${field.colId} = :${field.fieldId} </\#if>
#end
    	]]>
	</sql>
	
  
 <!-- 根据字段查询 -->
<sql id="SELECT_BY_FIELDS">
    	<![CDATA[
    	    SELECT *
FROM ${dto.tblId} WHERE  1=1
#foreach(${field}in${dto.fields})
 		    <\#if ${field.fieldId} ? exists>AND  ${field.colId} = :${field.fieldId} </\#if>
#end
		<\#if orderBy ? exists> ORDER BY ${orderBy} </\#if>
	    <\#if orderByDesc ? exists> ${orderByDesc} </\#if>
         <\#if startIndex ? exists && maxCount ? exists>
    	LIMIT :startIndex,:maxCount
		</\#if>
    	]]>
	</sql>
  
 <!-- 根据字段查询数量 -->
<sql id="SELECT_COUNT_BY_FIELDS">
    	<![CDATA[
    	    SELECT COUNT(1) NUM FROM ${dto.tblId} WHERE  1=1
#foreach(${field}in${dto.fields})
 		    <\#if ${field.fieldId} ? exists>AND  ${field.colId} = :${field.fieldId} </\#if>
#end
     	<\#if groupBy ? exists> GROUP BY ${groupBy} </\#if>
    	]]>
	</sql>  
   
</sqlMap>